venv/
__pycache__/
*.pyc

clientmud/
*.mudbak
*.json
# Logs e Áudios extras (caso coloque soltos)
*.logdist_folder/ 
main.build/ 
main.dist/ 
*.log 
atualizador.dist/
clientmud.zip
nuitka-crash-report.xml
compila.py
